.qv-object-DevelopersFriend div.qv-object-content-container {
	/*overflow: auto;*/
	text-align: center;
}

.qv-object-DevelopersFriend button {
	/*width: 100%; width comes from style parameter in button tag (dyn. setting of extension) */
	margin-left: 1px;
	margin-right: 1px;
}

.developersFriend-welcome {
	font-size: 6.5pt;
    color: #aaa;
	position: absolute; 
    bottom: 0px; 
	right: 0px;
}

.developersFriend-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 4px;
  padding: 0;
}

/* display logo in the properties "About" section */
div[tid=aboutSection] div[tid=dbLogo] {
  background: url(../extensions/DevelopersFriend/pics/databridgelogo.png) no-repeat;
  background-size: 241px 113px;
  height: 113px;
  margin-left: 3px;
}

.developersFriend-rotate {
    animation-name: rotate;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform: rotate(1turn);
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-transform: rotate(1turn);
}

.developersFriend-spinner {
	height:60px;
	width:60px;
	margin:0 auto;
    background-image: url(../extensions/DevelopersFriend/loader.svg);
    background-size: 100% 100%;
    animation-name: rotate;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform: rotate(1turn);
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-transform: rotate(1turn);
}

.lui-dialog {
	font-family: Source Sans Pro,sans-serif;
}
